.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding: 24px;
  min-height: 100%;
  // background-color: var(--primary-color);
  // background-color: red;

  // app-card{
  //   width:100%;
  //   padding: 5px;
  // }
    app-card{
      padding:13px
    }
  .page-title {
    color: var(--primary-color);
  }
    .pog_btn_active{
      color:#FE3C72
    }
   .pog_btn{
      // height: 30%;
        width: auto;
        border-radius: 50px;
        // display: flex;
        // flex-wrap: nowrap;
        // justify-content: center;
        // align-items: center;
        text-wrap: nowrap;
        padding: 10%;
        font-size: 10px;
        box-shadow: var(--card-box-shadow);
        color: white;
        background: linear-gradient(174.9deg, rgba(89, 88, 89, 0.81) -26.99%, rgba(41, 37, 45, 0.81) 22.7%, rgba(41, 37, 45, 0.81) 100.94%);
        box-shadow: 0px 0px 2.98412px rgba(0, 0, 0, 0.3), 8.81787px 8.01625px 21.6439px 2.00406px rgba(18, 18, 18, 0.65);
        filter: blur(0.324361px);
   }
  
  .demo-component {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .card {
    box-shadow: var(--card-box-shadow);
    width: 500px;
    // height: 200px;
    height: auto;
    margin-top: 10px;
    border-radius: 20px;
    position: relative;
    padding: 3% 5% 3% 5%;
  }



  // =================================================

  /* swiping / start swiping / default */
  .swiping_start {
    position: relative;
    width: 320px;
    height: 568px;

  }

  .bg {
    background: linear-gradient(191.18deg, #27242C 61.33%, #0C0B0E 101.43%);

  }


  /* Group 234 */
  .group_234 {
    position: absolute;
    width: 25px;
    height: 26px;
    left: 18px;
    top: 45px;

    opacity: 0.3;


  }


  /* backButton */
  .backButton {
    position: absolute;
    left: 5.62%;
    right: 86.56%;
    top: 7.92%;
    bottom: 87.5%;

  }



  /* Component 13 */

  .comp_13 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 3.85%;

  }



  /* Rectangle 3222 */
  .rect_3222 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 3.85%;
    background: linear-gradient(174.9deg, rgba(105, 104, 106, 0.81) 28.4%, rgba(41, 37, 45, 0.81) 92.06%, rgba(41, 37, 45, 0.81) 100.94%);
    box-shadow: 0px 0px 12.9744px 6.48722px rgba(66, 66, 66, 0.61), 0px 3.11387px 3.11387px 1px rgba(0, 0, 0, 0.43);
    filter: blur(0.324361px);
    border-radius: 23.8471px;
  }



  /* Rectangle 3221 */
  .rect_3221 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 3.85%;
    bottom: 0%;

    background: linear-gradient(174.9deg, rgba(89, 88, 89, 0.81) -26.99%, rgba(41, 37, 45, 0.81) 22.7%, rgba(41, 37, 45, 0.81) 100.94%);
    box-shadow: 0px 0px 2.98412px rgba(0, 0, 0, 0.3), 8.81787px 8.01625px 21.6439px 2.00406px rgba(18, 18, 18, 0.65);
    filter: blur(0.324361px);
    border-radius: 22.8534px;
  }

  .text-secondary {
    color: #A8A8A8;
  }

  .places_expansion {
    display: flex;
    align-items: center;
    color: #A8A8A8
  }

  .places_desc {
    margin-left: 3%;
  }

  .map {
    border-radius: 5px;
  }

  .option_expansion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
  }

  /* Vector 1 */

  .vector_1 {
    position: absolute;
    left: 37.76%;
    right: 46.24%;
    top: 36.87%;
    bottom: 37.39%;

    border: 1.8px solid #FFFFFF;
  }



  /* Subtract */
  .subtract {
    position: absolute;
    width: nanpx;
    height: nanpx;
    left: nanpx;
    top: nanpx;
  }


  /* Primary/Primary Gradient */
  .primary_grad {
    background: linear-gradient(94.44deg, #FE3C72 1.26%, #E15561 100%);

  }

  /* Glow-minor */
  .glow_minor {
    filter: blur(2.5px);
    transform: matrix(nan, nan, nan, nan, nan, nan);
  }



  /* Group 38975 */
  .group_38975 {
    position: absolute;
    width: 98px;
    height: 37px;
    left: calc(50% - 98px/2 + 0px);
    top: 39.96px;

    opacity: 0.3;


  }

  /* The Shop */
  .the_shop {
    // position: absolute;
    // width: 98px;
    // height: 37px;
    // left: 111px;
    // top: 39.96px;

    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 22.988px;
    line-height: 160%;
    margin:0px 10px;
    /* identical to box height, or 37px */
    text-align: center;

    color: #FFFFFF;

  }



  /* Group 39144 */

  .group_39144 {
    position: absolute;
    width: 103.45px;
    height: 0.79px;
    left: 1.64px;
    top: 33.66px;

    opacity: 0.3;

  }


  /* Progress bar */

  .progress_bar {
    position: absolute;
    width: 103.45px;
    height: 0.79px;
    left: 1.64px;
    top: 33.66px;

    opacity: 0.3;

  }

  x
  /* Group 39150 */

  .group_39150 {
    position: absolute;
    width: 320.19px;
    height: 4.11px;
    left: -1.64px;
    top: -1.64px;

  }



  /* Rectangle 170 */

  .rect_170 {
    position: absolute;
    left: -1.59%;
    right: -207.94%;
    top: -206.56%;
    bottom: -209.84%;

    background: #28252D;
    box-shadow: inset -2.463px -2.463px 3.284px rgba(255, 255, 255, 0.1), inset 4.105px 4.105px 8.21px rgba(0, 0, 0, 0.32);
    border-radius: 0px 82.1px 82.1px 82.1px;

  }



  /* Vector 275 */

  .vector_275 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 100%;

    mix-blend-mode: normal;
    border: 4.105px solid #FF347D;
    filter: blur(0.821px);
    transform: matrix(1, 0.01, 0, 1, 0, 0);
  }



  /* Vector 276 */
  .vector_276 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 100%;

    mix-blend-mode: hard-light;
    border: 3.284px solid rgba(255, 0, 0, 0.2);
    box-shadow: 0px -13.8338px 41.5038px #FF9292, 0px -12.315px 13.8346px rgba(207, 39, 39, 0.8), 0px -6.568px 5.53384px rgba(141, 0, 0, 0.7), inset -0.69173px -1.38346px 0.69173px rgba(255, 255, 255, 0.4), inset 0.68964px -1.38749px 0.69173px rgba(255, 255, 255, 0.5);
    transform: matrix(1, 0.01, 0, 1, 0, 0);
  }



  /* Vector 274 */

  .vector_274 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 100%;

    mix-blend-mode: multiply;
    opacity: 0.2;
    border: 2.463px solid #FF0000;
    filter: blur(0.69173px);
    transform: matrix(1, 0.01, 0, 1, 0, 0);


  }

  /* Vector 273 */
  .vector_273 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 100%;

    mix-blend-mode: normal;
    border: 1.2315px solid #FFFFFF;
    filter: blur(0.345865px);
    transform: matrix(1, 0.01, 0, 1, 0, 0);
  }



  /* Notification bar light */

  .notification_bar_light {
    position: absolute;
    height: 41.05px;
    left: 0px;
    right: -0.19px;
    top: 0px;

    opacity: 0.3;
  }



  /* Time */
  .time {
    position: absolute;
    width: 44.33px;
    height: 14px;
    left: 17.24px;
    top: calc(50% - 14px/2 + 0.91px);

    font-family: 'Gilroy';
    font-style: italic;
    font-weight: 500;
    font-size: 12.315px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.2463px;

    color: #FFFFFF;


  }


  /* Battery */
  .battery {
    position: absolute;
    width: 19.97px;
    height: 9.3px;
    left: 288.25px;
    top: 17.17px;


  }


  /* Border */

  .border {
    box-sizing: border-box;

    position: absolute;
    width: 18.06px;
    height: 9.3px;
    right: 13.87px;
    top: calc(50% - 9.3px/2 + 1.3px);

    mix-blend-mode: normal;
    opacity: 0.35;
    border: 0.821px solid #FFFFFF;
    border-radius: 2.18933px;
  }



  /* Cap */
  .cap {
    position: absolute;
    width: 1.09px;
    height: 3.28px;
    right: 11.96px;
    top: calc(50% - 3.28px/2 + 1.3px);

    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;

  }


  /* Capacity */
  .capacity {
    position: absolute;
    width: 14.78px;
    height: 6.02px;
    right: 15.52px;
    top: calc(50% - 6.02px/2 + 1.3px);

    background: #FFFFFF;
    border-radius: 1.09467px;
  }



  /* Wifi */
  .wifi {
    position: absolute;
    width: 12.59px;
    height: 9.03px;
    right: 36.04px;
    top: 17.17px;

    background: #FFFFFF;
  }



  /* Wifi-path */
  .wifi_path {
    position: absolute;
    width: 12.59px;
    height: 3.91px;
    right: 36.04px;
    top: calc(50% - 3.91px/2 - 1.41px);

    background: #000000;
  }



  /* Wifi-path */
  .wifi_path_2 {
    position: absolute;
    width: 8.2px;
    height: 2.99px;
    right: 38.23px;
    top: calc(50% - 2.99px/2 + 1.26px);

    background: #000000;
  }

  .wifi_path_3 {
    position: absolute;
    width: 3.81px;
    height: 2.78px;
    right: 40.43px;
    top: calc(50% - 2.78px/2 + 4.28px);

    background: #000000;
  }


  /* Wifi-path */




  /* Cellular Connection */

  .cell_conn {
    position: absolute;
    width: 13.96px;
    height: 8.76px;
    right: 52.73px;
    top: 17.44px;

    background: #FFFFFF;
  }



  /* Cellular-Connection-path */

  .cell_conn_path {
    position: absolute;
    width: 2.46px;
    height: 3.28px;
    right: 64.23px;
    top: calc(50% - 3.28px/2 + 4.03px);

    background: #000000;
  }

  .cell_conn_path_2 {

    position: absolute;
    width: 2.46px;
    height: 4.93px;
    right: 60.4px;
    top: calc(50% - 4.93px/2 + 3.21px);

    background: #000000;
  }


  /* Cellular-Connection-path */



  /* Cellular-Connection-path */

  .cell_conn_path_3 {

    position: absolute;
    width: 2.46px;
    height: 4.93px;
    right: 60.4px;
    top: calc(50% - 4.93px/2 + 3.21px);

    background: #000000;
  }

  x

  /* Cellular-Connection-path */
  .cell_conn_path_3 {
    position: absolute;
    width: 2.46px;
    height: 8.76px;
    right: 52.73px;
    top: calc(50% - 8.76px/2 + 1.3px);

    background: #000000;
  }



  /* BottomBar */

  .bottom_bar {
    position: absolute;
    width: 320px;
    height: 75.12px;
    left: 0px;
    top: 493px;

    opacity: 0.3;
  }



  /* Rectangle 3374 */
  .rect_3374 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: linear-gradient(180deg, rgba(156, 156, 156, 0.2) 3.76%, rgba(138, 138, 138, 0.13375) 4.93%, rgba(100, 100, 100, 0) 14.33%), #27242C;
  }



  /* Primary Button */

  .primary_btn {
    position: absolute;
    visibility: hidden;
    left: 25.96%;
    right: 24.93%;
    top: 29.77%;
    bottom: 8.76%;

  }



  /* DoubleButtons */

  .double_btn {
    position: absolute;
    width: 264.29px;
    height: 44.13px;
    left: calc(50% - 264.29px/2 - 0px);
    top: 22.36px;
  }




  /* Primary Button */
  .primary_btn {
    position: absolute;
    left: 54.46%;
    right: 8.7%;
    top: 37.45%;
    bottom: 16.45%;

  }



  /* Group 515193 */
  .group_515193 {
    position: absolute;
    width: 134.11px;
    height: 43.23px;
    left: -8.13px;
    top: -4.56px;

  }



  /* Rectangle 61 */
  .rect_61 {
    position: absolute;
    left: -6.9%;
    right: -6.9%;
    top: -13.17%;
    bottom: -11.67%;

    background: linear-gradient(90deg, #353039 0.68%, #29252D 99.45%);
    box-shadow: 5.23414px 5.23414px 10.4683px rgba(0, 0, 0, 0.25);
    filter: blur(5.23414px);
    border-radius: 26.1707px;
  }



  /* Rectangle 3374 */
  .rect_3374 {
    box-sizing: border-box;

    position: absolute;
    left: 0.66%;
    right: -0.07%;
    top: -1.93%;
    bottom: -2.61%;

    background: linear-gradient(180deg, rgba(62, 64, 69, 0.5) 0%, rgba(62, 64, 69, 0) 8.33%), radial-gradient(115.36% 126.16% at 8.39% 32.81%, rgba(67, 64, 70, 0.5) 0%, rgba(41, 37, 45, 0.5) 28.24%, rgba(10, 10, 11, 0.5) 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    border-radius: 65.1279px;


  }

  /* Group 515192 */
  .group_515192 {
    position: absolute;
    width: 38px;
    height: 19px;
    left: calc(50% - 38px/2 - 1.51px);
    top: 6.46px;

  }



  /* Login */
  .login {
    position: absolute;
    width: 38px;
    left: calc(50% - 38px/2 - 1.51px);
    top: 18.65%;
    bottom: 26.49%;

    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 12.1281px;
    line-height: 160%;
    /* or 19px */
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 0px 3.67194px #FFFFFF, 0px 0px 18.3597px #FE3C72, 0px 0px 18.3597px #FE3C72;
  }

  .counter .text-col {
    color: #FE3C72;
    font-size: large;

  }

  .text-primary {
    color: #FE3C72;
  }

  /* Secondary Button */

  .secondary_pos {
    position: absolute;
    left: 8.7%;
    right: 51.13%;
    top: 29.76%;
    bottom: 11.48%;
  }




  /* glow */
  .glow {
    position: absolute;
    visibility: hidden;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: linear-gradient(90deg, #353039 0.68%, #29252D 99.45%);
    border-radius: 29.7608px;
  }



  /* Group 514612 */

  .group_514612 {
    position: absolute;
    left: 2.92%;
    right: 3.26%;
    top: 12.29%;
    bottom: 10.97%;

  }



  /* Frame 3747 */
  .frame_3747 {
    position: absolute;
    left: 2.92%;
    right: 3.26%;
    top: 12.29%;
    bottom: 10.97%;

    background: linear-gradient(180deg, rgba(62, 64, 69, 0.5) 0%, rgba(62, 64, 69, 0) 8.33%), radial-gradient(115.36% 126.16% at 8.39% 32.81%, rgba(67, 64, 70, 0.5) 0%, rgba(41, 37, 45, 0.5) 28.24%, rgba(10, 10, 11, 0.5) 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    border-radius: 29.7607px;
  }



  /* Register */
  .register {
    position: absolute;
    left: 18.56%;
    right: 21.88%;
    top: 16.01%;
    bottom: 18.83%;

    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 13.7919px;
    line-height: 160%;
    /* or 22px */
    text-align: center;

    color: #FE638E;

    text-shadow: 0px 0px 27.5837px #FE3C72;
  }



  /* Resend */
  .resend {
    position: absolute;
    visibility: hidden;
    width: 46.89px;
    left: calc(50% - 46.89px/2 + 0.41px);
    top: 16.56%;
    bottom: 18.29%;

    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 13.7919px;
    line-height: 160%;
    /* or 22px */
    text-align: center;

    color: #FE638E;


  }


  /* Edit */
  .edit {
    position: absolute;
    visibility: hidden;
    width: 26.2px;
    left: calc(50% - 26.2px/2 + 1.1px);
    top: 16.56%;
    bottom: 18.29%;

    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 13.7919px;
    line-height: 160%;
    /* or 22px */
    text-align: center;

    color: #FE638E;
  }




  /* Skip */
  .skip {
    position: absolute;
    visibility: hidden;
    width: 28.96px;
    left: calc(50% - 28.96px/2 - 0.28px);
    top: 16.56%;
    bottom: 18.29%;

    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 13.7919px;
    line-height: 160%;
    /* or 22px */
    text-align: center;

    color: #FE638E;


  }

  .card .inside_card {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 150%;
    /* identical to box height, or 37px */

    color: #FFFFFF;
  }

  /* Group 514936 */
  .group_514936 {
    position: absolute;
    width: 282px;
    height: 102.39px;
    left: 20.58px;
    top: 288.99px;
  }




  /* Group 512950 */
  .group_512950 {
    position: absolute;
    width: 282px;
    height: 102.39px;
    left: 20.58px;
    top: 288.99px;

  }



  /* Rectangle 3195 */
  .rect_3195 {
    position: absolute;
    width: 282px;
    height: 102.39px;
    left: 20.58px;
    top: 288.99px;
  }


  /* Dark/Plain Bg */
  .dark_plain_bg {
    background: #27242C;
    box-shadow: 6.97795px 6.34359px 17.1277px rgba(17, 16, 20, 0.65), -3.17179px -3.17179px 10.1497px rgba(203, 199, 209, 0.25), inset 2px 2px 7px #454545;
    border-radius: 5.07487px;
  }



  /* Vector 262 */
  .vector_262 {
    position: absolute;
    visibility: hidden;
    width: 203.17px;
    height: 0px;
    left: 28.2px;
    top: 418.84px;

  }



  /* Group 512820 */
  .group_512820 {
    position: absolute;
    width: 95px;
    height: 26px;
    left: 38.12px;
    top: 296.79px;
  }




  /* Subscription */
  .subscription {
    position: absolute;
    width: 95px;
    height: 26px;
    left: 38.12px;
    top: 296.79px;

    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 16.1622px;
    line-height: 160%;
    /* identical to box height, or 26px */
    display: flex;
    align-items: center;

    color: #FFFFFF;

  }



  /* SubscriptionPog */
  .SubscriptionPog {
    position: absolute;
    width: 44.22px;
    height: 13.53px;
    left: 183.81px;
    top: 305.33px;
  }


  /* Ellipse 2176 */
  .ellioipse_2176 {
    position: absolute;
    visibility: hidden;
    width: 32.75px;
    left: calc(50% - 32.75px/2 - 0.56px);
    top: 3px;
    bottom: 5.75px;

    background: rgba(254, 60, 114, 0.5);
  }

  .incr_btn {
    height: 60%;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #FE638E;
    margin: 0 15% 0 15%;
    // box-shadow: 0px 0px 2.98412px rgba(0, 0, 0, 0.3), 8.81787px 8.01625px 21.6439px 2.00406px rgba(18, 18, 18, 0.65);
    background: linear-gradient(174.9deg, rgba(89, 88, 89, 0.81) -26.99%, rgba(41, 37, 45, 0.81) 22.7%, rgba(41, 37, 45, 0.81) 100.94%);
    // box-shadow: 0px 0px 2.98412px rgba(0, 0, 0, 0.3), 8.81787px 8.01625px 21.6439px 2.00406px rgba(18, 18, 18, 0.65);
    // filter: blur(0.324361px);
    // border: #38353d;

  }

  .count {
    height: 70%;
    width: 70%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Fast Setting */
  .fast_setting {
    box-sizing: border-box;

  }

  /* Auto layout */
  .autolayout {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.80338px 4.50846px;
    gap: 3.61px;

    position: absolute;
    width: 47.02px;
    left: calc(50% - 47.02px/2 - 0.56px);
    top: 0%;
    bottom: 0%;

    background: rgba(255, 255, 255, 0.44);
    background-blend-mode: overlay;
    box-shadow: inset 0px 0.434301px 1.3029px rgba(255, 255, 255, 0.22);
    backdrop-filter: blur(8.68602px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 17.372px;
  }



  /* Cyrano Plus */
  .cyrano_plus {
    width: 38px;
    height: 10px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 6.45247px;
    line-height: 150%;
    /* identical to box height, or 10px */
    text-align: center;
    letter-spacing: -0.011em;

    color: #A8A8A8;
  }



  /* Inside auto layout */
  .auto_layout_in {
    flex: none;
    order: 0;
    flex-grow: 0;
  }



  /* Add/defualt */
  .add_default {
    display: none;
    width: 6.31px;
    height: 6.31px;

    transform: rotate(-45deg);
  }





  /* SubscriptionPog */
  .SubscriptionPog_1 {
    position: absolute;
    width: 42.26px;
    height: 12.92px;
    left: 238.42px;
    top: 304.89px;


  }

  /* Ellipse 2176 */
  .ellipse_2176 {
    position: absolute;
    visibility: hidden;
    width: 31.29px;
    left: calc(50% - 31.29px/2 - 0.56px);
    top: 2.87px;
    bottom: 5.87px;

    background: rgba(255, 181, 233, 0.5);
  }



  /* Fast Setting */
  .fast_setting {
    box-sizing: border-box;

  }

  /* Auto layout */
  .autolayout_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.72323px 4.30808px;
    gap: 3.45px;

    position: absolute;
    width: 57.62px;
    left: calc(50% - 57.62px/2 - 0.56px);
    top: 0%;
    bottom: 0%;

    background: rgba(255, 255, 255, 0.44);
    background-blend-mode: overlay;
    box-shadow: inset 0px 0.414999px 1.245px rgba(255, 255, 255, 0.22);
    backdrop-filter: blur(8.29998px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 16.6px;
  }

  /* Cyrano Plus */
  .cyrano_plus_1 {
    width: 49px;
    height: 9px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 6.1657px;
    line-height: 150%;
    /* or 9px */
    text-align: center;
    letter-spacing: -0.011em;

    color: #A8A8A8;


  }



  /* $0/m */
  .money {
    // position: absolute;
    // width: 36.03px;
    // height: 22px;
    // left: calc(50% - 36.03px/2 - 2.89px);
    // top: 301.09px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 150%;
    /* or 22px */
    text-align: center;

    color: #FE3C72;
  }




  /* Frame 513044 */
  .frame_513044 {
    position: absolute;
    width: 282px;
    left: calc(50% - 282px/2);
    top: 17.25%;
    bottom: 63.03%;

    background: #27242C;
    box-shadow: 6.97795px 6.34359px 17.1277px rgba(17, 16, 20, 0.65), -3.17179px -3.17179px 10.1497px rgba(203, 199, 209, 0.25), inset 2px 2px 7px #494949;
    border-radius: 5px;
  }



  /* Group 515345 */
  .group {
    position: absolute;
    width: 245.83px;
    height: 80.39px;
    left: calc(50% - 245.83px/2 + 0.79px);
    top: 12.37px;

  }



  /* place */
  .place {
    position: absolute;
    width: 2.03px;
    height: 23.34px;
    left: 20.34px;
    top: 48.33px;

  }



  /* Vector 3 */
  .vector_3 {
    position: absolute;
    left: 7.21%;
    right: 91.38%;
    top: 63.99%;
    bottom: 34.19%;
  }


  /* Primary */
  .primary {
    border: 0.796993px solid #FE3C72;
    transform: rotate(-90deg);
  }



  /* Vector 4 */
  .vector_4 {
    position: absolute;
    left: 7.21%;
    right: 91.38%;
    top: 46.71%;
    bottom: 51.47%;
  }


  /* Primary */



  /* header */
  .header {
    position: absolute;
    width: 245.83px;
    height: 80.39px;
    left: 18.87px;
    top: 12.37px;
  }




  /* infoIcon */
  .info_icon {
    position: absolute;
    width: 11.02px;
    height: 11.02px;
    left: 61.19px;
    top: 21.1px;
  }




  /* grid */
  .grid {
    position: absolute;
    width: 11.02px;
    height: 11.02px;
    left: calc(50% - 11.02px/2 - 74.29px);
    top: calc(50% - 11.02px/2 - 29.39px);

  }



  /* info/light/defualt */
  .info {
    position: absolute;
    width: 11.02px;
    height: 11.02px;
    left: 61.19px;
    top: 21.1px;
  }


  /* Vector */
  .vector {
    position: absolute;
    left: 44.29%;
    right: 44.29%;
    top: 21.43%;
    bottom: 67.14%;
  }


  /* Secondary */
  .secondary {
    background: #F7F5DD;

  }


  /* Group 512824 */
  .grouo {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

  }





  /* Group 515347 */
  .group_515347 {
    position: absolute;
    width: 42.44px;
    height: 46.58px;
    left: 20.34px;
    top: 46.18px;
  }

  .option_btn {
    // height: 30%;
    // max-width: 30%;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    box-shadow: var(--card-box-shadow);
    color: white;
    background: linear-gradient(174.9deg, rgba(89, 88, 89, 0.81) -26.99%, rgba(41, 37, 45, 0.81) 22.7%, rgba(41, 37, 45, 0.81) 100.94%);
    box-shadow: 0px 0px 2.98412px rgba(0, 0, 0, 0.3), 8.81787px 8.01625px 21.6439px 2.00406px rgba(18, 18, 18, 0.65);
    filter: blur(0.324361px);
    // border: #38353d;
  }

  .option_selection {
    padding: 5%;
  }

  .options_body_subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding: 0 20% 0 20%
  }

  .options_check {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
    min-width: 100px;
    padding: 0 20% 10% 20%
  }

  /* options */
  .options {
    position: absolute;
    width: 31.68px;
    height: 46.58px;
    left: 20.34px;
    top: 46.18px;
  }


  /* options */
  .options_2 {
    position: absolute;
    width: 22px;
    height: 7px;
    left: 30.02px;
    top: 85.77px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 6.5px;
    line-height: 114%;
    /* or 7px */
    letter-spacing: -0.011em;

    color: #FFFFFF;
  }


  /* places */
  .places_2 {
    position: absolute;
    width: 20px;
    height: 7px;
    left: 30.02px;
    top: 65.18px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 6.5px;
    line-height: 114%;
    /* or 7px */
    letter-spacing: -0.011em;

    color: #FFFFFF;
  }


  /* stats */
  .stats {
    position: absolute;
    width: 15px;
    height: 7px;
    left: 30.02px;
    top: 46.18px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 6.5px;
    line-height: 114%;
    /* or 7px */
    letter-spacing: -0.011em;

    color: #FFFFFF;
  }



  /* Group 512824 */
  .group_512824 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  }




  /* Vector */

  // position: absolute;
  // left: 45.71%;
  // right: 45.71%;
  // top: 42.86%;
  // bottom: 20%;

  /* Secondary */
  // background: #F7F5DD;


  /* Vector */

  // position: absolute;
  // left: 0%;
  // right: 0%;
  // top: 0%;
  // bottom: 0%;

  // background: #D9D9D9;


  /* counter */
  .counter {
    // position: absolute;
    // width: 39.32px;
    // height: 13.25px;
    // left: calc(50% - 39.32px/2 + 104.05px);
    // top: 18.62px;
    display: flex;
    width: 60px;
    justify-content: center;
    align-items: center;
    padding:10px;

  }


  /* 1 */
  .one {
    // position: absolute;
    // width: 4.27px;
    // height: 10px;
    // left: 242.52px;
    // top: 21.51px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 150%;
    /* or 10px */
    text-align: center;
    letter-spacing: -0.011em;
  }

  /* Secondary */
  // color: #F7F5DD;



  /* plus button */
  .plus_btn {
    position: absolute;
    width: 12.72px;
    height: 13.25px;
    left: 251.98px;
    top: 18.62px;
  }


  /* Rectangle 3221 */
  .rect_3221_2 {
    position: absolute;
    width: 12.72px;
    height: 12.72px;
    left: 251.98px;
    top: 18.62px;

    background: linear-gradient(174.9deg, rgba(105, 104, 106, 0.81) 28.4%, rgba(41, 37, 45, 0.81) 92.06%, rgba(41, 37, 45, 0.81) 100.94%);
    box-shadow: 0px 0px 10.6027px 5.30136px rgba(66, 66, 66, 0.61);
    filter: blur(0.265068px);
    border-radius: 19.4878px;
  }

  /* Rectangle 3221 */
  .rect_3221_3 {
    position: absolute;
    width: 12.72px;
    height: 12.72px;
    left: 251.98px;
    top: 19.15px;

    background: linear-gradient(174.9deg, rgba(89, 88, 89, 0.81) -26.99%, rgba(41, 37, 45, 0.81) 22.7%, rgba(41, 37, 45, 0.81) 100.94%);
    box-shadow: 0px 2.43862px 2.43862px rgba(0, 0, 0, 0.3), 7.20596px 6.55088px 17.6874px 1.63772px rgba(18, 18, 18, 0.65);
    filter: blur(0.265068px);
    border-radius: 18.6758px;
  }

  /* Vector 261 */
  .vector_261 {
    position: absolute;
    left: 91.65%;
    right: 8.35%;
    top: 24.58%;
    bottom: 72.12%;
  }

  /* Primary */
  // border: 1.15666px solid #FE3C72;
  // transform: rotate(180deg);


  /* Vector 260 */
  .vector_260 {
    position: absolute;
    left: 92.31%;
    right: 7.69%;
    top: 22.92%;
    bottom: 73.77%;
  }

  /* Primary */
  // border: 1.15666px solid #FE3C72;
  // transform: rotate(90deg);


  /* minus button */
  .minus {
    position: absolute;
    width: 12.72px;
    height: 13.25px;
    left: 225.39px;
    top: 18.62px;
  }


  /* Vector 268 */
  .vector_268 {
    position: absolute;
    width: 274px;
    height: 0px;
    left: calc(50% - 274px/2);
    top: 59.64px;

    opacity: 0.3;


  }

  /* First Date is free! */
  .free_data {
    // position: absolute;
    // width: 80px;
    // height: 10px;
    // left: calc(50% - 48px/2);
    // top: 83px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 150%;
    /* or 10px */
    text-align: center;
    letter-spacing: -0.011em;

    color: #FE3C72;

    text-shadow: 0px 4px 4px #000000;
  }

  /* Group 514871 */
  .group_514871 {
    position: absolute;
    width: 40.44px;
    height: 15px;
    left: 257.47px;
    top: calc(50% - 15px/2 - 225.04px);

    opacity: 0.3;
  }



  /* yellow coin */
  .yellow_coin {
    position: absolute;
    left: 87.19%;
    right: 9.82%;
    top: 9.54%;
    bottom: 88.78%;
  }





  /* Group */
  .group {
    position: absolute;
    left: 88.05%;
    right: 10.69%;
    top: 10.02%;
    bottom: 89.33%;
  }



  /* pink diamond */
  .pink {
    position: absolute;
    left: 80.46%;
    right: 16.78%;
    top: 9.5%;
    bottom: 88.74%;
  }



  /* Vector 269 */
  .vector_269 {
    position: absolute;
    width: 274px;
    height: 0px;
    left: calc(50% - 274px/2);
    top: 176.64px;

    opacity: 0.3;
  }

  /* MANAGE YOUR EXPECTATIONS: Lorem ipsum dolor sit amet, consectetur adipisizzle elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam. */
  .header_line{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 4;
    color:'white'
  }
  .manage_exp {
    position: absolute;
    width: 233.54px;
    height: 10%;
    top:90%;
    left: calc(50% - 233.54px/2 - 0px);
    bottom: 1%;
    // display: flex;
    margin-top:3%;
    max-width: 200px;
    // justify-content: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.0703846px;
    padding: 5%;
    color: #FFFFFF;
    background: transparent
  }

}
